<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robify</title>
</head>
<body>
  <div align="center">
  <img src="/logo.png" alt="">
 
  <h1 ><i>IOT Platform</i></h1>
  <h2>Technology and Integration Testing Software</h2>
<h4>Proprietary Property of Robify Inc.</h4>
<h4>Copyright © 2024 Robify Inc. All rights reserved.</h4>
</div>
</body>
</html>
