<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <div align="right">
        <a href="/logout">Logout</a>
    </div>
    <div align="center">
        <img src="/logo.png" alt="">
        <h1>Admin Links</h1>
        <h2 ><a href="/register" >Registration Form</a></h2>
        <h2><a  href="/gameplay" >Gameplay</a></h2>
        <h2><a href="/leaderboardShowcase" target="_blank">Leaderboard</a></h2>
        <h2><a href="/rgbcontrol" target="_blank">RGB Control</a></h2>
        <h2><a href="/msgbox" target="_blank">Message Box</a></h2>


    </div>
    
</body>
</html>